body {
}

.site-header {
    flex-direction: row;
    background-color: darkkhaki;
}

.flex-row {
    flex-direction: row;
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.login {
    display: flex;
    justify-content: end;
    align-items: center;
}

a {
    font-style: normal;
    text-decoration: underline;
    color: deeppink;
}

li {
    padding: 0.8em;
}

.red {
    color: red;
}